<h1> {{name}} </h1>

<dl>
  <td>Nombre:</td>
  <dd> {{name}} </dd>

  <td>edad:</td>
  <dd> {{age}} </dd>

  <td>metodo:</td>
  <dd> {{ getstreamFighters() }} </dd>

  <td>capitalizado:</td>
  <dd> {{capitalizedName}} </dd>
</dl>

<!-- el ngif se creo con la intencion de que el boton desaparesca apenas se le de un click-->

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changenHero()" class="btn btn-primary">
  cambiar nombre
</button>

<button
  *ngIf="age !== 30"
  (click)="changenAge()" class="btn btn-primary">
  cambiar edad
</button>
